<nav class="navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
       <li class = "nav-item">
           <a routerLink="patientregister" routerLinkActive="active" class="nav-link">Create Patient</a>
       </li>
       <li class = "nav-item">
        <a routerLink="patientsearch" routerLinkActive="active" class="nav-link">Patient Search</a>
       </li>
       <li class = "nav-item">
        <a routerLink="docterregister" routerLinkActive="active" class="nav-link">Create Docter</a>
       </li>
       <li class = "nav-item">
        <a routerLink="doctersearch" routerLinkActive="active" class="nav-link">Docter search</a>
       </li>

    </ul>
</nav>


<div class="container">
    <router-outlet></router-outlet>
</div>
